.float-right {
   display: inline-block;
   float: right;
}
span.answers{
   color: #585454;
}
.boldAnswer{
   color: #252323 !important;
   font-size: 1.2em;
   font-style: italic;
   font-weight: bold;
}