<div class="animated fadeIn">
  <div class="card">
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Online Users</div>
          <strong>{{ totalUsers }} Users</strong>
          <div class="progress progress-xs mt-2">
            <!-- <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div> -->
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Unique</div>
          <strong>24.093 Users (20%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Pageviews</div>
          <strong>78.706 Views (60%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">New Users</div>
          <strong>22.123 Users (80%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Question Sets</div>
          <div class="progress progress-xs mt-2">
            <button class="btn btn-primary px-4" [routerLink]="['/sets']">Question Sets</button>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!--/.card-->
    <div class="row">
      <div class="col-md-4">
        <div class="card">

          <div class="card-header">
            {{ quizStarted ? 'Quiz is in Progress (' + set.name + ' Set)' : 'Questions Set' }}
          </div>
          <div class="card-body">
            <app-loading *ngIf="!sets || !questions || loading"></app-loading>
            <div *ngIf="questions; then questionsData; else setData"></div>
            <ng-template #setData>
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let set of sets">
                    <td>
                      {{ set.name }}
                      <br>
                      <em><small>{{ set.scheduleDate | date:'yyyy-MM-dd' }}</small></em>
                    </td>
                    <td><button type="button" class="btn btn-pill btn-block btn-primary" (click)="startQuiz(set)">Start</button></td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
            <ng-template #questionsData>
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let question of questions">
                    <td>{{ question.level }}</td>
                    <td>{{ question.name }}</td>
                    <td><button type="button" class="btn btn-pill btn-block btn-primary" (click)="sendQuestionsToClient(question)">Send</button></td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div id="frame">
            <div class="content">
              <div class="card-header">
                Public Chat
              </div>
              <div class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <ul *ngIf="messages">
                  <li *ngFor="let m of messages" [ngClass]="m.isAdminUser ? 'replies' : 'sent'">
                    <span class="username">{{ m.userName }}</span>
                    <img src="{{ m.userImage || 'assets/images/logo.png' }}" alt="" />
                    <p>{{ m.message }}</p>
                    <br>
                    <sub>{{ m.createdAt | amTimeAgo }}</sub>
                  </li>
                </ul>
              </div>
              <div class="message-input">
                <div class="wrap">
                <input type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Write your message..." />
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button class="submit" (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div><!--/.row-->
 </div>
 